@import "../../../styles/utils/utils";

:host,
c-chandelier {
	position: absolute;
	left: 0;
	width: 100%;

	transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

	@include mq(small) {
		&.is-done {
			transform: translateY(-145px);
		}
	}
	@include mq(medium) {
		&.is-done {
			transform: translateY(-230px);
		}
	}
}
