:host,
c-chandelier {
    position: absolute;
    left: 0;
    width: 100%;

    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.is-done {
        transform:translateY(-230px);
    }
}