<img class="borders" src="assets/svgs/left-lines.svg" alt="">
<section>
  <h2>FAQs</h2>
  <div class="spacer"></div>

  <article>
    <h5><strong>Where will I stay/park?</strong></h5>
    <p>Please see the sections below on some details that we’ve put together to make this as easy as we can for you.</p>
  </article>

  <article>
    <h5><strong>What kind of ceremony will it be?</strong></h5>
    <p>We are having a secular ceremony that will be overseen by an independent celebrant. The structure will be familiar to most people attending though, with music, a couple of readings from our friends and family members, vows, and the exchanging of rings.</p>
  </article>

    <article>
    <h5><strong>What happens after the ceremony?</strong></h5>
    <p>Following on from the ceremony, we will enjoy some drinks and light nibbles in the back bar of Langtons. Dinner will be at 6pm, and afters will start at 9pm with music from The Seducers followed by Langtons resident DJ Brian Hennessy until late!</p>
  </article>

  <article>
    <h5><strong>Are young children welcome?</strong></h5>
    <p>Yes of course, please feel welcome to bring your smallies to enjoy everything with you. If you are eating with us, please advise us in advance though so we can make sure there’s numbers for the kids menu and for seating purposes.</p>
  </article>

  <article>
    <h5><strong>Is there a gift registry?</strong></h5>
    <p>We decided not to register for gifts, as we won’t be buying our own house until (fingers crossed) next year, and our current rental house is cozy. Any monetary gifts we kindly receive will be put towards our honeymoon of a lifetime where we will cruise around South Pacific Islands that we’ve been looking at for years on our favourite show, Survivor! On the day, please speak to a member of our wedding party who will gladly receive on our behalf.</p>
  </article>

  <article>
    <h5><strong>Is anything happening the days on either side?</strong></h5>
    <p>The day before and after we will be spending in Kilkenny with friends and family. We plan on keeping it quite relaxed, so please feel welcome to join us. We will be flying out early on the Wednesday morning to spend a week diving off the coast of Malta!</p>
  </article>
</section>
<img class="borders" src="assets/svgs/right-lines.svg" alt="">