<img class="borders" src="assets/svgs/left-lines.svg" alt="">
<section>
  <h2>FAQs</h2>
  <div class="spacer"></div>

  <article>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maiores dolor porro sunt. Dolorum voluptates ea culpa aut dolore libero neque in distinctio, doloribus veniam! Expedita id dignissimos sequi neque.</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad aperiam, labore sit voluptates ullam praesentium cumque. Non, atque dolorem omnis at maiores, quo facilis, repudiandae placeat cum sed distinctio. Vel.</p>
  </article>

</section>
<img class="borders" src="assets/svgs/right-lines.svg" alt="">