<img class="borders" src="assets/svgs/left-lines.svg" alt="">
<section>
  <h2>Accommodation</h2>
  <div class="spacer"></div>

  <div class="accomodation__container">
    <article class="accomodation__item">
      <header>
        <img src="assets/svgs/hotel.svg" alt="">
        <h6>The Hibernian Hotel</h6>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__phone">056 777 1888</p>
        <p class="accomodation__address">1 Ormonde St<br>Gardens,<br>Kilkenny.</p>
        <p class="accomodation__info">Across the river from Langtons, but virtually on the same street. This 4-star boutique hotel boasts a fabulously modern rooms with quirky décore.</p>
      </div>
    </article>

    <article class="accomodation__item">
      <header>
        <img src="assets/svgs/hotel.svg" alt="">
        <h6>The Ormonde Hotel</h6>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__phone">056 775 0200</p>
        <p class="accomodation__address">Ormonde St,<br>Gardens,<br>Kilkenny.</p>
        <p class="accomodation__info">This 4-star hotel is a 6 minute walk to Langtons. The Kilkenny Ormonde Hotel offers on site car parking facilities in Q Park Ormonde Street, the multi storey car park immediately in front of the hotel.</p>
      </div>
    </article>

     <article class="accomodation__item">
      <header>
        <img src="assets/svgs/hotel.svg" alt="">
        <h6>The Pembroke Hotel</h6>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__phone">056 778 3500</p>
        <p class="accomodation__address">11 Patrick St,<br>Gardens,<br>Kilkenny.</p>
        <p class="accomodation__info">A 4-star hotel built on the site of a historic Specials garage. 6 minute walk to Langtons.</p>
      </div>
    </article>

    <article class="accomodation__item">
      <header>
        <img src="assets/svgs/hotel.svg" alt="">
        <h6>River Court Hotel</h6>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__phone">056 772 3388</p>
        <p class="accomodation__address">The Bridge,<br>John Street,<br>Kilkenny.</p>
        <p class="accomodation__info">Just across from Kilkenny Castle is the River Court Hotel with classically-styled rooms and suites, plus a casual bar and refined dining.</p>
      </div>
    </article>

    <article class="accomodation__item">
      <header>
        <img src="assets/svgs/hotel.svg" alt="">
        <h6>Hotel Kilkenny</h6>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__phone">056 776 5133</p>
        <p class="accomodation__address">College Rd,<br>Sugarloafhill,<br>Kilkenny.</p>
        <p class="accomodation__info">Just next door to the reception, Langton House Hotel is on the main street in Kilkenny, there are a limited number
          of rooms held for the night, please book early to avoid disappointment.</p>
      </div>
    </article>

    <article class="accomodation__item">
      <header>
        <img src="assets/svgs/airbnb.svg" alt="">
        <h4>Airbnb</h4>
      </header>
      <div class="accomodation__details">
        <p class="accomodation__info">If you're interested in a more intimate stay in Kilkenny, we both highly recommend some of the beautiful and relaxing
          AirBnB options that are available in Kilkenny City.</p>
        <p class="accomodation__link"><a href="https://www.airbnb.com/s/Kilkenny--Ireland/homes?checkin=2017-09-23&checkout=2017-09-24&allow_override%5B%5D=&s_tag=DYKTJ5aT">Click here to see whats available.</a></p>
      </div>

    </article>
  </div>
</section>
<img class="borders" src="assets/svgs/right-lines.svg" alt="">