@import "../../../styles/utils/utils";

.content {
	padding-top: 50vh;
	position: relative;
	float: left;
	width: 100vw;
	z-index: 99999999;

	&.fixed {
		height: 100vh;
		overflow: hidden;
	}

	&__splash {
		height: 50vh;
		position: relative;
		float: left;
		width: 100vw;
		overflow: hidden;
		z-index: 99999999;
		display: flex;
		justify-content: center;
		img {
			margin-top: 15vh;
			height: 75vh;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		nav {
			a {
				font-family: 'mrs-eaves';
				@include type-scale(1);
				text-decoration: none;
				color: $color-dark;
				margin-right: 2rem;
				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
				&:after {
					content: '-';
					position: absolute;
					margin-left: 0.75rem;
					transform: translateX(-0.1rem);
				}
				&:last-child:after {
					content: '';
				}
			}
		}
	}
	&__info {
	}

	&__accomodation {
		flex: 1 1 auto;
		background-color: white;
		height: 100vh;
		height: 40vh;
		padding: 0 35px;

		img {
			flex: 0 0 auto;
			height: 100%;
		}

		section {
			flex: 1 1 auto;
		}
	}
}
