@import "../../../styles/utils/utils";

.content {
	&__splash {
		width: 100%;
		height: 50vh;
		position: relative;
		float: left;
		width: 100%;
		overflow: hidden;
		z-index: 99999999;
		display: flex;
		justify-content: center;
		img {
			margin-top: 15vh;
			height: 75vh;
		}
		nav {
			display: flex;
			flex-flow: row nowrap;
			a {
				font-family: 'mrs-eaves';
				@include type-scale(1);
				text-decoration: none;
				color: $color-dark;
				margin-right: 2rem;
				&:after {
					content: '-';
					position: absolute;
					margin-left: 1rem;
					transform: translateX(-0.1rem);
				}
				&:last-child:after {
					content: '';
				}
			}
		}
	}
	&__info {
	}

	&__accomodation {
		flex: 1 1 auto;
		background-color: white;
		height: 100vh;
		height: 40vh;
		padding: 0 35px;

		img {
			flex: 0 0 auto;
			height: 100%;
		}

		section {
			flex: 1 1 auto;
		}
	}
}
