@import "../../../styles/utils/utils";

.content {
	&__splash {
		width: 100%;
		height: 35vh;
		position: relative;
		float: left;
		width: 100%;
		overflow: hidden;
		z-index: 99999999;
		display: flex;
		justify-content: center;
		img {
			height: 75vh;
		}
	}
	&__info {
		
	}

	&__accomodation {
		flex: 1 1 auto;
		background-color: white;
		height: 100vh;
		height: 40vh;
		padding: 0 35px;

		img {
			flex: 0 0 auto;
			height: 100%;
		}

		section {
			flex: 1 1 auto;
		}
	}
}
