//-------------------------------------
// @VARIABLES
//-------------------------------------

/// Base size for typography
/// @group modular scale
/// @type {number}
$base-size: 1rem;

/// Base ratio to calculate font scale
/// @group modular scale
/// @type {number}
$base-size-ratio: (4 / 3);

/// Base ratio to calculate `line-height` and spacing scale
/// @group modular scale
/// @type {number}
$base-height-ratio: 1.5;

/// Base height for `line-height` and spacing
/// @group modular scale
/// @type {number}
$base-height: $base-size * $base-height-ratio;

/// @group spacing
/// @require {variable} $base-height
$spacing-quarter: $base-height / 3;
/// @group spacing
/// @require {variable} $base-height
$spacing-third: $base-height / 3;
/// @group spacing
/// @require {variable} $base-height
$spacing-half: $base-height / 2;
/// @group spacing
/// @require {variable} $base-height
$spacing-two-thirds: $base-height / 1.5;
/// @group spacing
/// @require {variable} $base-height
$spacing-whole: $base-height;
/// @group spacing
/// @require {variable} $base-height
$spacing-one-half: $base-height * 1.25;
/// @group spacing
/// @require {variable} $base-height
$spacing-double: $base-height * 2;
/// @group spacing
/// @require {variable} $base-height
$spacing-triple: $base-height * 3;
/// @group spacing
/// @require {variable} $base-height
$spacing-quad: $base-height * 4;

$color-background-light: rgba(245, 245, 245, 1);
$color-background-dark: rgba(62, 62, 62, 1);

$border-dark: rgba(0,0,0,0.1);

$color-light: rgba(246, 246, 246, 1);
$color-dark:rgba(62, 62, 62, 1);
$color-dark-blue: #58768b;
$color-blue: rgba(159, 175, 193, 1);
$color-grey: rgba(230,230,230,1);
$color-red: rgba(255, 193, 193, 1);
$color-red: rgba(255, 193, 193, 1);
$color-blue: rgba(179, 198, 211, 1);
$color-gold: rgba(205, 181,141, 100);

$default-border-radius: 2px;

/// Font Family Sans
/// @group typography
/// @type {list}
$font-family-sans: Avenir, 'Open Sans', -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
	sans-serif;
/// Font Family Serif
/// @group typography
/// @type {list}
$font-family-serif: "kepler-std-display", Georgia, 'Times New Roman', Times,
	serif;
/// Font Family Mono
/// @group typography
/// @type {list}
$font-family-mono: Inconsolata, 'Courier New', Courier, monospace;
/// Font Family for headings
/// @group typography
/// @require {variable} $font-family-sans
/// @type {list}
$font-family-heading: $font-family-sans;
/// Font Family for paragraphs
/// @require {variable} $font-family-sans
/// @group typography
/// @type {list}
$font-family-paragraph: $font-family-sans;

/// Breakpoints
/// @group responsive
/// @type {map}
$breakpoints: (small: 320px, medium: 768px, large: 1024px, wide: 1440px);

/// Shorter transition
/// @group transitions
/// @type {list}
$transition-xs: all ease 0.15s;
/// Short transition
/// @group transitions
/// @type {list}
$transition-s: all ease 0.25s;
/// Medium transition
/// @group transitions
/// @type {list}
$transition-m: all ease 0.4s;
/// Long transition
/// @group transitions
/// @type {list}
$transition-l: all ease 0.7s;
/// Longer transition
/// @group transitions
/// @type {list}
$transition-xl: all ease 1s;

/// Relative or absolute URL where all assets are served from
/// @group assets
/// @type {string}
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/';

$header-height: 50px;
