<section class="top__headers">
  <c-header-left></c-header-left>
  <c-header-right></c-header-right>
</section>
<div [class.fixed]="!isVisible" class="top__foreground">
  <c-chandelier></c-chandelier>

</div>
<!-- <div class="bottom__foreground">
  <c-ticket></c-ticket>
</div> -->
<section [class.fixed]="!isVisible" class="content">
  <div id="" class="content__splash">
    <div class="header">
        <h1 *ngIf="isVisible" class="">
            <!-- You're Invited -->
            Please join us for our Wedding!
          </h1>
          <p *ngIf="isVisible">
            <!-- Please RSVP before the 14th of September -->
            24th of September
          </p>
    </div>
    
    <!--  -->
    <img src="assets/svgs/willandpatrick.svg" alt="">
  </div>
  <ng-template [ngIf]="isVisible">
    <div id="navigation" class="content__nav">
      <nav *ngIf="isVisible" class="header_links">
        <a (click)="goToSection('information')">Information</a>
        <a (click)="goToSection('rsvp')">Rsvp</a>
        <a (click)="goToSection('faq')">Faq</a>
        <a (click)="goToSection('accomodation')">Accommodation</a>
        <a (click)="goToSection('travel')">Travel</a>
        
      </nav>
    </div>
    <wedding-info id="information"></wedding-info>
    <router-outlet></router-outlet>
    <wedding-faq id="faq"></wedding-faq>
    <wedding-accomodation id="accomodation"></wedding-accomodation>
    <wedding-travel id="travel"></wedding-travel>


  </ng-template>
</section>