<section class="top__headers">
  <c-header-left></c-header-left>
  <c-header-right></c-header-right>
</section>
<div class="top__foreground">
  <c-chandelier></c-chandelier>

</div>
<!-- <div class="bottom__foreground">
  <c-ticket></c-ticket>
</div> -->
<section class="content">
  <div id="" class="content__splash">
    <nav class="header_links">
      <a href="#">Information</a>
      <a href="#">Accomodation</a>
      <a href="#">Travel</a>
      <a href="#">Faq</a>
      <a href="#">Rsvp</a>
    </nav>
    <img src="assets/svgs/willandpatrick.svg" alt="">
  </div>
  <wedding-info></wedding-info>
  <wedding-accomodation></wedding-accomodation>
  <wedding-travel></wedding-travel>
  <wedding-faq></wedding-faq>
  <router-outlet></router-outlet>
</section>