:host,
c-header-left {
    margin-left: 25px;
    .shape_container {
        
        position: absolute;
        left: 0;
    }
}
@media (max-width:499px){
  :host,
  c-header-left {
    opacity: 0;
  }
}