<section>

<h2>RSVP</h2>
<div class="spacer"></div>

<form (ngSubmit)="onSubmit(mailChimpForm)" #mailChimpForm="ngForm"  method="post"
  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class="mc-form">
    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address</label>
      <input required [(ngModel)]="model.EMAIL"  type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
      <label for="mce-FNAME">First Name </label>
      <input required [(ngModel)]="model.FNAME" type="text" value="" name="FNAME" class="" id="mce-FNAME">
    </div>
    <div class="mc-field-group">
      <label for="mce-LNAME">Last Name </label>
      <input required [(ngModel)]="model.LNAME" type="text" value="" name="LNAME" class="" id="mce-LNAME">
    </div>
    <div class="mc-field-group size1of2">
      <label for="mce-PHONE">Phone Number </label>
      <input [(ngModel)]="model.PHONE" type="text" name="PHONE" class="" value="" id="mce-PHONE">
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9c094231e20a57997f234dd79_c5f84c57bc" tabindex="-1" value=""></div>
    <div class="clear">
      <input [disabled]="!mailChimpForm.form.valid" type="submit" value="Confirm" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </div>
</form>

</section>
