<img src="assets/svgs/left-lines.svg" alt="">
<section>
  <h2>Please join Patrick and William on the 24th September as we celebrate our wedding </h2>
  <div class="spacer"></div>
  <p>Saturday, 24th September</p>
  <p>The ceremony will be held at 4pm in the Set Theatre of Langtons House hotel, we will gather at Bridie’s Bar next door from 3pm onwards. Dinner will be at 6pm followed by music from The Seducers and DJ till late.</p>
  <p>Sunday, 25th September</p>
  <p>The Following day, afternoon tea, scones, and maybe a bit of an ould singsong for anyone sticking around!</p>
</section>
<img src="assets/svgs/right-lines.svg" alt="">