/* You can add global styles to this file, and also import other style files */

@import "./styles/base/typography";

$color-black: #333232;
$color-white: #fbfbfb;
* {
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #fbfbfb;
}

a {
    color: $color-gold;
    text-decoration: underline;
}