/* You can add global styles to this file, and also import other style files */

html,
body {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    min-width: 100%;
    background-color: black;
}