#mc_embed_signup_scroll {
    position: relative;
    overflow: hidden;
    .mc-field-group {
        float: left;
        width: 100%;
        transition: 0.3s all ease;
        &.complete {
            transform: translateY(-200px)
        }
    }
    .group {
        height: 185px;
        overflow: hidden;
    }
    p.response {
        transition: 0.3s all ease 0.3s;
        margin-top:40px;
        float: left;
        width: 100%;
    }
    p.response.complete {
        color: white;
        float: left;
        width: 100%;
        transform: translateY(-140px);
    }

    
}

.ticket_container {
    .ticketVertical {
        transition: .3s all;
        &:hover {
            transform: translateY(-30px);
        }
    }
}

@media (max-width:499px) {
    c-ticket {
        position: absolute;
        left: 0;
        overflow: none;
        width: 100%;
        /* float: left; */
        height: 100vh;

        &.open {
            overflow: scroll;
        }
    }
    .ticket_container {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
    }
}